# IDE-related
.idea
.vscode
.history
*.code-workspace

# AWS
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Build artifacts
node_modules

# Configs
config/*.json
config/*-local.py
config/*-local.conf
config/*.pickle
.env.*.local

# Scripts
scripts/**/*_local.sh
scripts/db/local
scripts/hasenpfeffer_incorporated/local
scripts/node_js/save_whiteboard_as_png.js

# Local dev
venv
.npmrc
.tox/

# Compiled/optimized files
.python-version
__pycache__/
dist

# Temporary files
log/
tmp/
.DS_Store
*.log
*.log.*
.cache
.pytest_cache/
scripts/hasenpfeffer_incorporated/csv_files
