boto3==1.20.24
canvasapi==3.0.0
cryptography==42.0.5
decorator==5.1.1
dnspython==2.2.0
eventlet==0.34.2
Flask-Login==0.6.2
Flask-SocketIO==5.3.2
Flask-SQLAlchemy==3.0.3
Flask==2.3.3
gunicorn==21.2.0
lti==0.9.5
oauthlib==3.2.2
psycopg2-binary==2.9.5
python-dateutil==2.8.2
python-magic==0.4.27
pytz==2022.7.1
redis==4.5.4
requests==2.31.0
simplejson==3.18.3
smart-open==4.1.2
SQLAlchemy==1.4.46
sqlvalidator==0.0.20
Werkzeug==2.3.8
https://github.com/python-cas/python-cas/archive/master.zip

# For testing

moto==3.1.16
pytest==7.2.1
pytest-flask==1.2.0
responses==0.22.0
tox==4.4.5
