#
# Apache configuration files and keys.
#
files:
  /tmp/ssl.conf:
    mode: '000644'
    owner: root
    group: root
    content: |
      <VirtualHost *:443>
        <IfModule !proxy_module>
          LoadModule proxy_module /etc/httpd/modules/mod_proxy.so
        </IfModule>
        <IfModule !proxy_wstunnel_module>
          LoadModule proxy_wstunnel_module /etc/httpd/modules/mod_proxy_wstunnel.so
        </IfModule>

        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>

        RewriteEngine on
        RewriteCond %{HTTP:Upgrade} websocket [NC]
        RewriteCond %{HTTP:Connection} upgrade [NC]
        RewriteRule ^/?(.*) "ws://localhost:8000/$1" [P,L]

        # Proxy websocket connections
        ProxyPass         /socket.io/   ws://localhost:8000/socket.io/
        ProxyPassReverse  /socket.io/   ws://localhost:8000/socket.io/

        ProxyPass / https://localhost:8000/
        ProxyPassReverse / https://localhost:8000/
        ProxyPreserveHost On
      </VirtualHost>
