#
# Apache configuration files and keys.
#
files:
  /tmp/ssl.conf:
    mode: '000644'
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
        <Proxy *>
          Require all granted
        </Proxy>

        ProxyPreserveHost on
        RewriteEngine on

        LogLevel INFO rewrite:trace3
        LogLevel INFO proxy:trace3

        RewriteCond %{HTTP:Upgrade} websocket [NC]
        RewriteCond %{HTTP:Connection} upgrade [NC]
        RewriteRule .* "ws://localhost:8000%{REQUEST_URI}" [P]

        ProxyPass / http://localhost:8000/ retry=0
        ProxyPassReverse / http://localhost:8000/
      </VirtualHost>