#color-picker>div {
  width: 270px;
}
#color-picker>div>div {
  padding: 0 !important;
}
#color-picker .fa-circle-check {
  color: white;
}

.native-select {
  appearance: auto !important;
  border-style: solid !important;
  padding: 5px;
  -moz-appearance: auto !important;
  -webkit-appearance: auto !important;
}
